version: '3.9'

services:
    domain_checker:
        build:
            context: ./domain_checker
        container_name: domain_checker_service
        ports:
            - '${DOMAIN_CHECKER_PORT:-8000}:8000'
        environment:
            - DB_HOST=postgres_service
            - DB_PORT=${DB_PORT:-5432}
            - DB_USER=${DB_USER:-postgres}
            - DB_PASSWORD=${DB_PASSWORD:-password}
            - DB_NAME=${DB_NAME:-domain_db}
        depends_on:
            - postgres
        networks:
            - domain_generator_network
        profiles:
            - dev
            - prod

    postgres:
        image: postgres:latest
        container_name: postgres_service
        ports:
            - '${DB_PORT:-5432}:5432'
        environment:
            POSTGRES_USER: ${DB_USER:-postgres}
            POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
            POSTGRES_DB: ${DB_NAME:-domain_db}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - domain_generator_network

networks:
    domain_generator_network:
        driver: bridge

volumes:
    postgres_data:
