version: '3.9'

services:
    backend:
        build:
            context: ./backend
        container_name: backend
        ports:
            - '${BACKEND_PORT}:8001'
        depends_on:
            - postgres
        environment:
            DATABASE_URL: postgresql://${DB_USER}:${DB_PASSWORD}@postgres:${DB_PORT}/${DB_NAME}

    domain_checker:
        build:
            context: ./domain_checker
        container_name: domain_checker_service
        ports:
            - '${DOMAIN_CHECKER_PORT}:8000'
        depends_on:
            - backend_service

    postgres:
        image: postgres:latest
        container_name: postgres_service
        ports:
            - '${DB_PORT}:5432'
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
