version: '3.9'

services:
    domain_checker:
        build:
            context: ./domain_checker
            dockerfile: Dockerfile
        container_name: domain_checker
        env_file:
            - .env
        networks:
            - domain_generator_network
        profiles:
            - dev_backend
            - prod

    name_suggestor:
        build:
            context: ./name_suggestor
            dockerfile: Dockerfile
        container_name: name_suggestor
        env_file:
            - .env
        networks:
            - domain_generator_network
        profiles:
            - dev_backend
            - prod

    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        container_name: backend
        env_file:
            - .env
        networks:
            - domain_generator_network
        profiles:
            - dev_backend
            - prod
        ports:
            - 8001:8001

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
            args:
                - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
                - NEXT_PUBLIC_SUGGEST_ENDPOINT=${NEXT_PUBLIC_SUGGEST_ENDPOINT}
        container_name: frontend
        env_file:
            - .env
        networks:
            - domain_generator_network
        profiles:
            - dev_frontend
            - prod
        ports:
            - 3000:3000

    postgres:
        image: postgres:latest
        container_name: postgres_service
        ports:
            - '${DB_PORT:-5432}:5432'
        environment:
            POSTGRES_USER: ${DB_USER:-postgres}
            POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
            POSTGRES_DB: ${DB_NAME:-domain_db}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - domain_generator_network
        profiles:
            - infra

networks:
    domain_generator_network:
        driver: bridge

volumes:
    postgres_data:
