version: '3.9'

services:
    domain_checker:
        build:
            context: ./domain_checker
            dockerfile: Dockerfile
        container_name: domain_checker
        env_file:
            - .env
        networks:
            - domain_generator_network
        profiles:
            - dev_backend
            - prod

    name_suggestor:
        build:
            context: ./name_suggestor
            dockerfile: Dockerfile
        container_name: name_suggestor
        env_file:
            - .env
        networks:
            - domain_generator_network
        profiles:
            - dev_backend
            - prod

    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        container_name: backend
        env_file:
            - .env
        networks:
            - domain_generator_network
        profiles:
            - dev_backend
            - prod

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
            args:
                - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
                - NEXT_PUBLIC_SUGGEST_ENDPOINT=${NEXT_PUBLIC_SUGGEST_ENDPOINT}
        container_name: frontend
        env_file:
            - .env
        networks:
            - domain_generator_network
        profiles:
            - dev_frontend
            - prod

networks:
    domain_generator_network:
        driver: bridge

volumes:
    postgres_data:
