version: '3.9'

services:
    worker:
        volumes:
            - ./backend/src:/app/src
        command: poetry run watchmedo auto-restart --directory=./ --pattern=*.py --recursive -- python -m src.backend.worker

    backend:
        ports:
            - "${BACKEND_PORT:-8000}:${BACKEND_PORT:-8000}"
        volumes:
            - ./backend/src:/app/src
        command: poetry run uvicorn src.backend.main:app --host 0.0.0.0 --port ${BACKEND_PORT:-8000} --reload

    frontend:
        ports:
            - "3000:3000"
        volumes:
            - ./frontend:/app
            - /app/node_modules
        command: npm run dev
